<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334435271870-mbhaqnefo44gmt9md2vmo6ajae89h9hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334435271870-mbhaqnefo44gmt9md2vmo6ajae89h9hd</string>
	<key>API_KEY</key>
	<string>AIzaSyBWQhmr3pHnCmwvbi6k7Jjr0icJBmD0cKk</string>
	<key>GCM_SENDER_ID</key>
	<string>334435271870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vienna.www.ieu</string>
	<key>PROJECT_ID</key>
	<string>va-ieu</string>
	<key>STORAGE_BUCKET</key>
	<string>va-ieu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334435271870:ios:1e2f0bcc7e9415e9</string>
	<key>DATABASE_URL</key>
	<string>https://va-ieu.firebaseio.com</string>
</dict>
</plist>