<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>605679829635-gpch3p79s1erkkkk5a0omu3pmoh60c9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605679829635-gpch3p79s1erkkkk5a0omu3pmoh60c9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBoJ9bdR_R6YdXAfSt-3Qrb55MGJJZ5GRA</string>
	<key>GCM_SENDER_ID</key>
	<string>605679829635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viennaadvantage.ieu</string>
	<key>PROJECT_ID</key>
	<string>va-ieu-a7b54</string>
	<key>STORAGE_BUCKET</key>
	<string>va-ieu-a7b54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605679829635:ios:fa46d5c76e8288fe</string>
	<key>DATABASE_URL</key>
	<string>https://va-ieu-a7b54.firebaseio.com</string>
</dict>
</plist>